body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #071828 !important;
}

.horline {
  margin: 0;

  border: 1px solid black;
}

.card-wrapper {
  /* border: 1px solid black; */
  border-radius: 10px;
  /* padding: 5px; */
}

.card-head-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 0.5rem 0.5rem;
}

.card-heading {
}
.heading2 {
  margin-bottom: 0.2rem;
}

.card-icon-div {
}
.card-rowone {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 0.7rem;
}
.card-rowone-left {
  flex: 50%;
  border: 0.5px solid black;
  border-left-style: none;
  border-top-style: none;
  background-color: white;
  font-weight: 700;
  padding: 0.3rem;
}
.card-rowone-right {
  flex: 50%;
  border: 0.5px solid black;
  border-right-style: none;
  border-top-style: none;
  background-color: white;
  font-weight: 700;
  padding: 0.3rem;
}

.card-rowtwo {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  font-size: 0.7rem;
}

.card-rowtwo-left {
  flex: 50%;
  border: 0.5px solid black;
  border-left-style: none;
  border-bottom-style: none;
  background-color: white;
  border-radius: 0 0 0 10px;
  font-weight: 700;
  padding: 0.3rem;
}

.card-rowtwo-right {
  flex: 50%;
  border: 0.5px solid black;
  border-right-style: none;
  border-bottom-style: none;
  background-color: white;
  border-radius: 0 0 10px 0;
  font-weight: 700;
  padding: 0.3rem;
}

.onbtn {
  background-color: rgb(139, 226, 8);
  color: white;
  font-size: 0.5rem;
  padding: 2px;
}

.offbtn {
  background-color: red;
  color: white;
  font-size: 0.5rem;
  padding: 2px;
}
.cardonof {
  font-size: 0.5rem;
  font-weight: 800;
}




























































































/* PAGE 2 and 3  */

.row1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mainbodyleft {
  width: 30%;
  background-color: #1c2d3d;
}
.box1{
height: 25vh;
}
.box2{
    height: 25vh;
}
.mainbodywrap {
  display: flex;
  justify-content: center;
}
.mainbodyright {
  width: 70%;
}

.box-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-head-left {
  background-color: #dc0000;
  color: white;
  width: 70%;
}

.box-head-right {
  background-color: white;
  color: black;
  width: 30%;
}

.box-1-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.box-1-leftwrap {
  width: 70%;
}
.box-1-line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-1-line1left {
  color: white;
  width: 70%;
}
.box-1-line1right {
  width: 30%;
  background-color: white;
  color: #dc0000;
}

.box-1-rightwrap {
  width: 30%;
}

.box-1-dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box-2-dropdown{
    height: 5vh;
    margin-top: 1rem;
    display: flex;
  justify-content: space-around;
  align-items: center;
}

.piechart-headingdiv {
  background-color: #dc0000;
  color: white;
}
.pieChartcanvasdiv {
  background-color: #1c2d3d;
}

.barchartdiv {
  background-color: #1c2d3d;
}
.chart1{
    height: 35vh;
}
.chart2{
    height: 35vh;
}
.pieChartcanvasdiv{
    height: 32vh;
}
.chart3{
    margin-top: 2rem;

}
.barchartdiv{
    height: 42vh;
}
/* 
.center_text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: rgba(59, 179, 113, 255);
  } */